.main{
    position:absolute; 
    top:25%; 
    left:25%;
    height:50%;
    width:50%;
    min-width:40%;
    padding:10px; 
    text-align:center; 
    border:3px solid green;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.mainJordo{
    user-select: none;
    height:100%; 
    min-width:40%; 
}

.mainJordoText{
    font-family: 'Times New Roman', serif;
    font-style: italic;
}

.options{
    display:flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-content:space-evenly;
}

.button{
    user-select: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left:5px;
    margin-right:5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ff4d4d; /* Reddish-pink button color */
    color: #fff; /* White text color */
    border: 2px solid #ff4d4d; /* Reddish-pink border */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    width: 20%;
    height:50%;
}
.button:hover {
    background-color: #fff; /* White background on hover */
    color: #ff4d4d; /* Reddish-pink text color on hover */
}

.fuckyouuuu{
    padding: 10px 0px;
}

.temp{
    user-select: none;
    position: absolute;
    top:-150px;
    left:-100px;
    width: 100px; /* Need a specific value to work */
    background-color: white;
    padding-top:300px;
    padding-bottom:300px;
    padding-left:400px;
    padding-right:400px;
    cursor:pointer;
}

.JordoHappyPath {
    display:none;
    user-select: none;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    height:80vh;
    width: 80vw; /* Need a specific value to work */
    z-index: 1;
}